### Тема “Обучение с учителем”

Задание 1.

In [142]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

In [143]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [144]:
data = boston["data"]
data.shape

(506, 13)

In [145]:
target = boston["target"]
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [146]:
feature_names = boston["feature_names"]
feature_names.shape

DESCR = boston["DESCR"]

X = pd.DataFrame(data, columns = feature_names) #

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [147]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [148]:
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42) #Разбиение выборки на тренировочную и тестовую

In [151]:
from sklearn.linear_model import LinearRegression

In [152]:
lr = LinearRegression()

In [153]:
lr.fit(X_train, y_train)

LinearRegression()

In [156]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [158]:
check_test = pd.DataFrame({
    'y_test': y_test['price'],
    'y_pred': y_pred.flatten()})
check_test

     y_test     y_pred
358    22.7  24.438846
152    15.3  22.320932
437     8.7   9.096708
416     7.5  13.433973
379    10.2  17.360902
..      ...        ...
274    32.4  37.888836
373    13.8   6.028430
28     18.4  19.740300
388    10.2   6.653915
128    18.0  19.243106

[152 rows x 2 columns]

In [168]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test['error%'] = (1 - check_test['y_pred'] / check_test['y_test']) * 100
check_test.head()

     y_test     y_pred     error     error%
358    22.7  24.438846  1.738846  -7.660116
152    15.3  22.320932  7.020932 -45.888445
437     8.7   9.096708  0.396708  -4.559859
416     7.5  13.433973  5.933973 -79.119644
379    10.2  17.360902  7.160902 -70.204921

In [169]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(check_test["y_pred"], check_test["y_test"]) # расчёт средней квадратичной ошибки

18.67481527490593

In [170]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(check_test["y_pred"], check_test["y_test"]) # расчёт средней абсолютной ошибки

3.371940760564614

In [171]:
from sklearn.metrics import r2_score
r2_score(y_pred, y_test) # (расчёт коэффициента детерминации) функция оценки регрессии

0.7016478915587621